@media only screen and (min-width: 375px){
    .container{
        width: 440px;
        margin-left: 0px;
        margin-right: 0px;
        .mainText{
            padding-top: 169px;
            h4{
                align-items: center;
                text-align: center;
                color: #f2f2f2;
                font-size: 24px;
                line-height: 36px;
                font-weight: bold;
            }
            p{
                margin-top: -32px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #f2f2f2;
                margin-bottom: 27px;
            }
        }
        .checkBorder{
            background-color: #f2f2f2;
            border-radius: 4px;
            margin-bottom: 367px;
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #0400D1;
                padding-top: 16px;
            }
            h4{
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                align-items: center;
                text-align: center;
                color: #0400D1;
                margin-top: -15px;
                padding-bottom: 16px;
            }
        }

        img{
            margin-bottom: 83px;
        };
    }
}

@media only screen and (min-width: 768px){
    .container{
        width: 440px;
        margin-left: 370px;
        margin-right: 306px;
        .mainText{
            padding-top: 169px;
            h4{
                align-items: center;
                text-align: center;
                color: #f2f2f2;
                font-size: 24px;
                line-height: 36px;
                font-weight: bold;
            }
            p{
                margin-top: -32px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #f2f2f2;
                margin-bottom: 27px;
            }
        }
        .checkBorder{
            background-color: #f2f2f2;
            border-radius: 4px;
            margin-bottom: 367px;
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #0400D1;
                padding-top: 16px;
            }
            h4{
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                align-items: center;
                text-align: center;
                color: #0400D1;
                margin-top: -15px;
                padding-bottom: 16px;
            }
        }

        img{
            margin-bottom: 83px;
        };
    }
}

@media only screen and (min-width: 1218px){
    .container{
        width: 440px;
        margin-left: 738px;
        margin-right: 742px;
        .mainText{
            padding-top: 169px;
            h4{
                align-items: center;
                text-align: center;
                color: #f2f2f2;
                font-size: 24px;
                line-height: 36px;
                font-weight: bold;
            }
            p{
                margin-top: -32px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #f2f2f2;
                margin-bottom: 27px;
            }
        }
        .checkBorder{
            background-color: #f2f2f2;
            border-radius: 4px;
            margin-bottom: 367px;
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #0400D1;
                padding-top: 16px;
            }
            h4{
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                align-items: center;
                text-align: center;
                color: #0400D1;
                margin-top: -15px;
                padding-bottom: 16px;
            }
        }

        img{
            margin-bottom: 83px;
        };
    }
}