<!DOCTYPE html>
<form [formGroup]="data">
    <div class="container">
        <div class="text">
            <p class="welcome">Welcome Back!</p>
            <p class="sign">Sign in your account</p>
        </div>

        <div class="signIn">
            <p>sign in</p>
        </div>

        <div routerLink="/register"class="signUp">
            <p>Sing up</p>
        </div>

        <div class="input-form" >
            <label >Email</label>
            <input  type="email" class="form-control" formControlName='email' [ngClass]="{'is-invalid': data.get('email').invalid && data.get('email').touched }">
            <p *ngIf="data.get('email').errors?.pattern" class="errorEmailText">Invalid Email!</p>
        </div>

        <div class="input-form">
            <label >Password</label>
            <input type="text" class="form-control" formControlName='password' [ngClass]="{'is-invalid': data.get('password').invalid && data.get('password').touched}">
            <p *ngIf="data.get('password').errors?.pattern" class="errorEmailText">Invalid Password!</p>
        </div>

        <div class="forgetPassword-link">
            <p>Forgot your password?</p>
        </div>

        <div class="rememberMe">
            <p>Remember me</p>
            <div class="button">

            </div>
        </div>

        <div class="acceptButton">
            <p>Sing In</p>
        </div>

        <div class="line1"></div>

        <div class="line2"></div>

        <div class="lineText">
            <p>or with</p>
        </div>

        <div class="info">
            <div class="instagramm">
                <img src="../../../assets/Vector.png">
            </div>

            <div class="facebook">
                <img src="../../../assets/Vector (1).png" >
            </div>

            <div class="google">
                <img src="../../../assets/Vector (2).png" >
            </div>

            <div class="index">
                <img src="../../../assets/Vector (3).png" >
            </div>
        </div>
    </div>
</form>