.container{
    margin-top: 144px;
    margin-right: 817px;
    margin-left: 809px; 
    margin-bottom: 367px;
    border-radius: 8px;
    border: 1px solid red;
    width: 294px; 
    height: 524px;
    .text{
        .welcome{
            text-align: center;
            line-height: 20px;
            font-size: 30px;
            color: #f2f2f2;
            padding-top: 39px;
            padding-left: 44px;
            padding-right: 44px;
            margin: 0px;
        }
        .sign{  
            text-align: center;
            line-height: 20px;  
            font-size: 17px;    
            color: #f2f2f2;
            padding-top: 8px;
            padding-left: 60px;
            padding-right: 61px;
            padding-bottom: 27px;;
            margin: 0px;
        }
    }
    .signIn{
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;
        background: #f2f2f2;
        /*padding-top: 27px;
        padding-left: 14px;
        padding-right: 147px; */
        margin: 0px;
        p{
            color: #0400D1;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-feature-settings: 'pnum' on, 'lnum' on;
            font-size: 14px;
            line-height: 24px;
            margin: 0px;
        }
    }
    
}           