*{
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 375px){
    .container{
        margin-top: 50px;
        margin-right: 41px;
        margin-left: 41px; 
        margin-bottom:367px;
        border-radius: 8px;
        width: 294px;
        height: 524px;
        .text{
            .welcome{
                text-align: center;
                line-height: 20px;
                font-size: 30px;
                color: #f2f2f2;
                padding-top: 39px;
                padding-left: 44px;
                padding-right: 44px;
                margin: 0px;
            }
            .sign{  
                text-align: center;
                line-height: 20px;  
                font-size: 17px;    
                color: #f2f2f2;
                padding-top: 8px;
                padding-left: 60px;
                padding-right: 61px;
                padding-bottom: 27px;;
                margin: 0px;
            }
        }

        .signIn{
            border:1px solid #f2f2f2;
            border-radius: 4px 0px 0px 4px;
            margin-left: 14px;
            margin-right: 147px;
            background: #e0e0e0;
            padding: 0px;
            p{
                color: #0400D1;
                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;
                padding-top:6px;
                padding-bottom: 6px;
                padding-left: 43px;
                padding-right: 37px;
                font-size: 14px;
                line-height: 24px;
            }
        }
        .signUp{
            border: 1px solid #f2f2f2;    
            border-radius: 0px 4px 4px 0px;
            padding: 0px;
            margin-right: 14px;
            margin-left: 145px;
            margin-top: -38.5px;
            p{
                color: #f2f2f2;
                text-transform: uppercase;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 41px;
                line-height: 24px;
                font-size: 14px;
                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
        }

        .input-form{
            margin-top: 17px;
            input{
                margin-left:20px;
                background: #333333;
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 4px;
                line-height: 16px;
                font-size: 19px;
                color: #f2f2f2;
                font-feature-settings: 'pnum' on, 'lnum' on;
                padding-top:8px;
                padding-bottom: 9px;
                padding-left: 6px;
                
            }

            label{
                color: #f2f2f2;
                letter-spacing: 0.4px;
                font-size: 12px;
                line-height: 16px;
                padding-top:17px;
                padding-bottom: 0px;
                padding-left: 20px;
                padding-right: 242px;
            }

            .errorEmailText{
                font-size: 12px;
                line-height: 16px;
                color: red;
                padding-top: 4px;
                padding-left:22px;
            }
        }

        .forgetPassword-link{
            //padding-top: 2px;
            padding-left: 20px;
            color: #828282;
            flex: none ;
            order: 0;
            margin: 10px 0px;
            align-self: center;
        }

        .rememberMe{
            p{
                padding-top: 18px;
                padding-left: 59px;
                line-height: 20px;
                font-size: 13px;
                color: #f2f2f2;
                letter-spacing: 0.024em;
            }
        }

        .rememberButton{
            .button{
                background: #BDBDBD;
                margin-left: 14px;
                margin-right: 247px;
                margin-bottom: 24px;
                border-radius: 10px;
                .button2{
                    background: #F2F2F2;
                    border-radius: 10px;
                    padding: 10px;
                    margin-right: 13px;
                }

            }
        }

        .acceptButton{
            border: 1px solid #f2f2f2;
            border-radius: 8px;
            filter: drop-shadow(0px 1px 2px #1E1E25), drop-shadow(0px 2px 4px #1E1E22);
            margin-top:24px;
            background: #f2f2f2;
            display: flex;
            flex-direction: row;
            padding: 8px 104px;
            margin-left: 14px;
            margin-right:14px;
            p{
                color: #0400D1;
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;   
                flex: none;
                order: 0;
                align-self: center;
                margin: 0px 0px;    
                font-size: 14px;
                line-height: 24px; 
            }
        }

        .line1{
            border: 1px solid #4f4f4f;
            margin-top: 23px;
            margin-left:2px;
            margin-right: 178px;
        }

        .line2{
            border: 1px solid #4f4f4f;
            margin-right: 2px;
            margin-left: 178px;
            margin-bottom: -23px;
        }

        .lineText{
            font-size: 9px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #F2F2F2;
            padding-top: 13px;
        }

        .info{
            .instagramm{
                margin-left:35px;
                margin-bottom: 27px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:227px;
                margin-top: 16px;
                img{
                    color: #f2f2f2;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-bottom: 1px;
                    padding-right: 6px;
                }
            }

            .facebook{
                margin-left:99px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:163px;
                margin-top: -58px;
                img{
                    color: #f2f2f2;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-bottom: 1px;
                    padding-right: 6px;
                }
            }

            .google{
                margin-left:163px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:99px;
                margin-top: -30px;
                img{
                    color: #f2f2f2;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-right: 6px; 
                    padding-bottom: 1px;
                }
            }

            .index{
                margin-left:227px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:35px;
                margin-top: -30px;
                img{
                    color: #f2f2f2;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-right: 6px;
                    padding-bottom: 1px;
                }
            }
        }
    } 
    .lastImg{
        margin-top: -500px;
        margin-left: 0px;
    }    
}


@media only screen and (min-width: 768px){
    .container{
        margin-top: 144px;
        margin-right: 234px;
        margin-left: 240px; 
        margin-bottom: 367px;
        border-radius: 8px;
        
        .text{
            .welcome{
                text-align: center;
                line-height: 20px;
                font-size: 30px;
                color: #f2f2f2;
                padding-top: 39px;
                padding-left: 44px;
                padding-right: 44px;
                margin: 0px;
            }
            .sign{  
                text-align: center;
                line-height: 20px;  
                font-size: 17px;    
                color: #f2f2f2;
                padding-top: 8px;
                padding-left: 60px;
                padding-right: 61px;
                padding-bottom: 27px;;
                margin: 0px;
            }
        }

        .signIn{
            border:1px solid #f2f2f2;
            border-radius: 4px 0px 0px 4px;
            margin-left: 14px;
            margin-right: 147px;
            background: #e0e0e0;
            padding: 0px;
            p{
                color: #0400D1;
                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;
                padding-top:6px;
                padding-bottom: 6px;
                padding-left: 43px;
                padding-right: 37px;
                font-size: 14px;
                line-height: 24px;
            }
        }
        .signUp{
            border: 1px solid #f2f2f2;    
            border-radius: 0px 4px 4px 0px;
            padding: 0px;
            margin-right: 14px;
            margin-left: 145px;
            margin-top: -38.5px;
            p{
                color: #f2f2f2;
                text-transform: uppercase;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 41px;
                line-height: 24px;
                font-size: 14px;
                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
        }

        .input-form{
            margin-top: 17px;
            input{
                margin-left:20px;
                background: #333333;
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 4px;
                line-height: 16px;
                font-size: 19px;
                color: #f2f2f2;
                font-feature-settings: 'pnum' on, 'lnum' on;
                padding-top:8px;
                padding-bottom: 9px;
                padding-left: 6px;
                
            }

            label{
                color: #f2f2f2;
                letter-spacing: 0.4px;
                font-size: 12px;
                line-height: 16px;
                padding-top:17px;
                padding-bottom: 0px;
                padding-left: 20px;
                padding-right: 242px;
            }

            .errorEmailText{
                font-size: 12px;
                line-height: 16px;
                color: red;
                padding-top: 4px;
                padding-left:22px;
            }
        }

        .forgetPassword-link{
            //padding-top: 2px;
            padding-left: 20px;
            color: #828282;
            flex: none ;
            order: 0;
            margin: 10px 0px;
            align-self: center;
        }

        .rememberMe{
            p{
                padding-top: 18px;
                padding-left: 59px;
                line-height: 20px;
                font-size: 13px;
                color: #f2f2f2;
                letter-spacing: 0.024em;
                margin-bottom: -20px;
            }
        }

        .rememberButton{
            .button{
                background: #BDBDBD;
                margin-left: 14px;
                margin-right: 247px;
                margin-bottom: 24px;
                border-radius: 10px;
                .button2{
                    background: #F2F2F2;
                    border-radius: 10px;
                    padding: 10px;
                    margin-right: 13px;
                }

            }
        }

        .acceptButton{
            border: 1px solid #f2f2f2;
            border-radius: 8px;
            filter: drop-shadow(0px 1px 2px #1E1E25), drop-shadow(0px 2px 4px #1E1E22);
            margin-top:24px;
            background: #f2f2f2;
            display: flex;
            flex-direction: row;
            padding: 8px 104px;
            margin-left: 14px;
            margin-right:14px;
            p{
                color: #0400D1;
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;   
                flex: none;
                order: 0;
                align-self: center;
                margin: 0px 0px;    
                font-size: 14px;
                line-height: 24px; 
            }
        }

        .line1{
            border: 1px solid #4f4f4f;
            margin-top: 23px;
            margin-left:2px;
            margin-right: 178px;
        }

        .line2{
            border: 1px solid #4f4f4f;
            margin-right: 2px;
            margin-left: 178px;
            margin-bottom: -23px;
        }

        .lineText{
            font-size: 9px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #F2F2F2;
            padding-top: 13px;
        }

        .info{
            .instagramm{
                margin-left:35px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:227px;
                margin-top: 26px;
                img{
                    color: #f2f2f2;
                    padding-right: 6px;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-bottom: 1px;
                    
                }
            }

            .facebook{
                margin-left:99px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:163px;
                margin-top: -58px;
                img{
                    color: #f2f2f2;
                    padding-right: 6px;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-bottom: 1px;
                    
                }
            }

            .google{
                margin-left:163px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:99px;
                margin-top: -30px;
                img{
                    color: #f2f2f2;
                    padding-right: 6px;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-bottom: 1px;
                    
                }
            }

            .index{
                margin-left:227px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:35px;
                margin-top: -30px;
                img{
                    color: #f2f2f2;
                    padding-right: 6px;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-bottom: 1px;
                    
                }
            }
        }
    } 
    .lastImg{
        margin-top: -500px;
        margin-left: 180px;
    }  
}

@media only screen and (min-width: 1123px){
    .container{
        margin-top: 144px;
        margin-right: 817px;
        margin-left: 809px; 
        margin-bottom: 367px;
        border-radius: 8px;
        
        .text{
            .welcome{
                text-align: center;
                line-height: 20px;
                font-size: 30px;
                color: #f2f2f2;
                padding-top: 39px;
                padding-left: 44px;
                padding-right: 44px;
                margin: 0px;
            }
            .sign{  
                text-align: center;
                line-height: 20px;  
                font-size: 17px;    
                color: #f2f2f2;
                padding-top: 8px;
                padding-left: 60px;
                padding-right: 61px;
                padding-bottom: 27px;;
                margin: 0px;
            }
        }

        .signIn{
            border:1px solid #f2f2f2;
            border-radius: 4px 0px 0px 4px;
            margin-left: 14px;
            margin-right: 147px;
            background: #e0e0e0;
            padding: 0px;
            p{
                color: #0400D1;
                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;
                padding-top:6px;
                padding-bottom: 6px;
                padding-left: 43px;
                padding-right: 37px;
                font-size: 14px;
                line-height: 24px;
            }
        }
        .signUp{
            border: 1px solid #f2f2f2;    
            border-radius: 0px 4px 4px 0px;
            padding: 0px;
            margin-right: 14px;
            margin-left: 145px;
            margin-top: -38.5px;
            p{
                color: #f2f2f2;
                text-transform: uppercase;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 41px;
                line-height: 24px;
                font-size: 14px;
                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
        }

        .input-form{
            margin-top: 17px;
            input{
                margin-left:20px;
                background: #333333;
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 4px;
                line-height: 16px;
                font-size: 19px;
                color: #f2f2f2;
                font-feature-settings: 'pnum' on, 'lnum' on;
                padding-top:8px;
                padding-bottom: 9px;
                padding-left: 6px;
            }

            label{ //remember me 
                color: #f2f2f2;
                letter-spacing: 0.4px;
                font-size: 12px;
                line-height: 16px;
                padding-top:17px;
                padding-bottom: 0px;
                padding-left: 20px;
                padding-right: 242px;
            }

            .errorEmailText{
                font-size: 12px;
                line-height: 16px;
                color: red;
                padding-top: 4px;
                padding-left:22px;
            }
        }


        .forgetPassword-link{
            //padding-top: 2px;
            padding-left: 20px;
            color: #828282;
            flex: none ;
            order: 0;
            margin: 10px 0px;
            align-self: center;
        }

        .rememberButton{
            .button{
                background: #BDBDBD;
                margin-left: 14px;
                margin-right: 247px;
                margin-bottom: 24px;
                border-radius: 10px;
                .button2{
                    background: #F2F2F2;
                    border-radius: 10px;
                    padding: 10px;
                    margin-right: 13px;
                }

            }
        }
        

        .acceptButton{
            border: 1px solid #f2f2f2;
            border-radius: 8px;
            filter: drop-shadow(0px 1px 2px #1E1E25), drop-shadow(0px 2px 4px #1E1E22);
            margin-top:24px;
            background: #f2f2f2;
            display: flex;
            flex-direction: row;
            padding: 8px 104px;
            margin-left: 14px;
            margin-right:14px;
            p{
                color: #0400D1;
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;   
                flex: none;
                order: 0;
                align-self: center;
                margin: 0px 0px;    
                font-size: 14px;
                line-height: 24px; 
            }
        }

        .line1{
            border: 1px solid #4f4f4f;
            margin-top: 23px;
            margin-left:2px;
            margin-right: 178px;
        }

        .line2{
            border: 1px solid #4f4f4f;
            margin-right: 2px;
            margin-left: 178px;
            margin-bottom: -23px;
        }

        .info{
            .instagramm{
                margin-left:35px;
                margin-bottom: 27px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:227px;
                margin-top: 16px;
                img{
                    color: #f2f2f2;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-bottom: 1px;
                    padding-right: 6px;
                }
            }

            .facebook{
                margin-left:99px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:163px;
                margin-top: -58px;
                img{
                    color: #f2f2f2;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-bottom: 1px;
                    padding-right: 6px;
                }
            }

            .google{
                margin-left:163px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:99px;
                margin-top: -30px;
                img{
                    color: #f2f2f2;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-right: 6px; 
                    padding-bottom: 1px;
                }
            }

            .index{
                margin-left:227px;
                border-radius: 4px;
                background: #4f4f4f;
                margin-right:35px;
                margin-top: -30px;
                img{
                    color: #f2f2f2;
                    padding-left: 6px;
                    padding-top: 6px;
                    padding-right: 6px;
                    padding-bottom: 1px;
                }
            }
        }

        .lineText{
            font-size: 9px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #F2F2F2;
            padding-top: 13px;
        }
      
    }
    .lastImg{
        margin-top: -500px;
        margin-left: 750px;
    }   
} 