<!DOCTYPE html>
<form>
    <div class="container">
        <div class="text">
            <p class="welcome">Welcome Back</p>
            <p class="sign">Sign in your account</p>
        </div>

        <div (click)="getData($event)"class="signIn">
            <p>sign in</p>
        </div>

        <div (click)="getNum($event)"class="signUp">
            <p>Sing up</p>
        </div>

        <div class="emailText">
            <p >Email</p>
        </div>

        <div (click)='onClick($event)' (keypress)="keyEvent($event)" (keypress)="checkEmail($event)"class="input-form" >
            <p (onChange)="checkEmail($event)"class="inputText">{{text}}</p>
        </div>

    </div>
</form>