*{
    margin: 0px;
    padding: 0px;
}

.container{

    width: 266px;
    height: 193px;
    margin-top: 163px;
    margin-left: 821px;
    margin-right: 831px;
    .main_text{
        .firstText{
            color: #e0e0e0;
            display: flex;
            align-items: center;
            text-align: center;
            padding-left: 18px;
            font-size: 24px;
            line-height: 36px;
            font-style: normal;
            font-weight: bold;
        }
        .lastText{
            display: flex;
            align-items: center;
            text-align: center;
            padding-left: 5px;
            margin-top: -10px;
            font-size: 16px;
            line-height: 24px;
            color:#BDBDBD;
            font-style: normal;
            font-weight: normal;
            font-feature-settings: 'pnum' on, 'lnum' on;
            padding-bottom: 10px;
        }
    }
    .input-form{
        margin-left: 10px ;
        input{

            background: #333333;
            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            border-radius: 4px;
            line-height: 16px;
            font-size: 19px;
            color: #f2f2f2;
            font-feature-settings: 'pnum' on, 'lnum' on;
            padding-top:8px;
            padding-bottom: 9px;
            padding-left: 6px;
        }

        label{
            color: #f2f2f2;
            letter-spacing: 0.4px;
            font-size: 12px;
            line-height: 16px;
            padding-top:17px;
            padding-bottom: 0px;
            padding-left: 8px;
            padding-right: 228px;
        }

        .errorEmailText{
            font-size: 12px;
            line-height: 16px;
            color: red;
            padding-top: 4px;
            padding-left:15px;
        }
    }

    .request{
        background: #F2F2F2;
        border: 2px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 8px;
        flex: none;
        order: 0;
        align-self: flex-start;
        margin-top: 19px;
        margin-right: 119px;
        display: flex;
        flex-direction: column;
        padding: 9px 20px;
        margin-bottom: -35px; 
        p{
            font-family: Work Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;

            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            font-feature-settings: 'pnum' on, 'lnum' on;

            color: #0400D1;
            flex: none;
            order: 0;
            align-self: center;
            margin: 0px 0px;
        }
    }
    .return{
        background: #333333;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px #1E1E25, 0px 2px 4px #1E1E22;
        border-radius: 8px;
        flex: none;
        order: 0;
        align-self: flex-start;
        margin-left: 168px;
        margin-bottom: 0px;
        p{
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #F2F2F2;
            flex: none;
            order: 0;
            align-self: center;
            padding: 9px 20px;
        }
    }
}