<form>
    <div class="container">
        <div class="main_text">
            <p class="firstText">Forgot your  password?</p>
            <p class="lastText">Enter your e-mail address. And we will...</p>
        </div>

        <div class="input-form">
            <label >Email</label>
            <input type="text">
        </div>

        <div class="request">
            <p>request reset</p>
        </div>

        <div class="return">
            <p>return</p>
        </div>
    </div>
</form>
