<form [formGroup] = "data">
    <div class="container">
        <div class="main_text">
            <p class="firstText">Forgot your  password?</p>
            <p class="lastText">Enter your e-mail address. And we will...</p>
        </div>

        <div class="input-form">
            <label >Email</label>
            <input type="text" formControlName='email' [ngClass]="{'is-invalid': data.get('email').invalid && data.get('email').touched}">
            <p *ngIf="data.get('email').errors?.pattern" class="errorEmailText">Invalid Email!</p>
        </div>

        <div class="request">
            <p>request reset</p>
        </div>

        <div routerLink= "/login" class="return">
            <p>return</p>
        </div>

        <img src="../../assets/undraw_active_options_8je6 1.png">
    </div>
</form>
