
@media only screen and (min-width: 0px){
    .container{
        margin-left: 60.5px;
        margin-right: 60.5px;
        .mainPanel{
            width: 440px;
            border-radius: 4px;
            background: #f2f2f2;
            padding-bottom: 13.5px;
            margin-top: 236px;
            h4{
                padding-top: 16px;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                align-items: center;
                text-align: center;

                color: #0400D1;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #0400D1;
                margin-top: -34px;
            }
        }
        .timerBorder{
            margin-top: 175px;
            border-radius: 4px;
            background: #f2f2f2;
            margin-left: 115.5px;
            margin-right: 115.5px;
            width: 214px;
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #0400D1;
                padding-top: 5.5px;
                padding-bottom: 5.5px;
            }
        }

        img{
            margin-top: 99px;
        }
    }
}



@media only screen and (min-width: 643px){
    .container{
        margin-left: 168.5px;
        margin-right: 168.5px;
        .mainPanel{
            width: 440px;
            border-radius: 4px;
            background: #f2f2f2;
            padding-bottom: 13.5px;
            margin-top: 236px;
            h4{
                padding-top: 16px;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                align-items: center;
                text-align: center;

                color: #0400D1;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #0400D1;
                margin-top: -34px;
            }
        }
        .timerBorder{
            margin-top: 175px;
            border-radius: 4px;
            background: #f2f2f2;
            margin-left: 115.5px;
            margin-right: 115.5px;
            width: 214px;
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #0400D1;
                padding-top: 5.5px;
                padding-bottom: 5.5px;
            }
        }

        img{
            margin-top: 99px;
        }
    }
}

@media only screen and (min-width: 1217px){
    .container{
        margin-left: 738px;
        margin-right: 742px;
        .mainPanel{
            width: 440px;
            border-radius: 4px;
            background: #f2f2f2;
            padding-bottom: 13.5px;
            margin-top: 236px;
            h4{
                padding-top: 16px;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                align-items: center;
                text-align: center;

                color: #0400D1;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #0400D1;
                margin-top: -34px;
            }
        }
        .timerBorder{
            margin-top: 175px;
            border-radius: 4px;
            background: #f2f2f2;
            margin-left: 115px;
            margin-right: 111px;
            width: 214px;
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #0400D1;
                padding-top: 5.5px;
                padding-bottom: 5.5px;
            }
        }

        img{
            margin-top: 99px;
        }
    }
}